html,
body {
    height: 100%;
    width: 100%;
    padding: 0!important;
    margin: unset;
}

body * {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, cursive;
}

main {
    margin: unset !important;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(47, 47, 47, 1) 37%, rgba(47, 47, 47, 1) 61%, rgba(0, 0, 0, 1) 100%);
}

#app-title {
    margin: 5rem 12rem;
    text-align: center;
    font-family: cursive;
    font-size: 5rem;
    color: #fff;
    text-shadow: 3px 3px 8px #4b889f;
}

#form-holder {
    min-height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#main-box {
    padding: 0.5em 1em;
    border-radius: 0.5em;
    width: 40vw;
    min-height: 20vh;
    background-color: white;
    box-shadow: 0px 5px 24px #d6ecff;
}


/* forms */

.form-item {
    padding: 0.5em 2em;
}

.form-item label {
    margin-bottom: .5em;
}

.form-item>* {
    display: block;
    width: 100%;
}

input.input-item {
    padding: 0.5em 0.3em;
    border: 1px solid;
    border-radius: 0.3rem;
    border-color: #4444442e;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

form {
    margin-bottom: 2rem;
}

#result {
    border-collapse: collapse;
    width: 100%;
}

#result th,
#result tr,
#result td {
    border: 1px solid;
    border-color: #4444442e;
    padding: .3rem .5rem;
}


/* forms */